@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Serif+Pro');

h1, h2, h3  { font-family: 'Source Sans Pro', sans-serif; font-weight: 400; }
body        { font-family: 'Source Sans Pro', sans-serif; font-weight: 300; }
img         { max-width: 100%; }

.white      { color: #FFFFFF; }
.magenta    { color: #FF00FF; }
.green      { color: #00FF00; }
.shadow     { text-shadow: 4px 4px black; }

 .black-background       { background-color: #000; }
.blue-background        { background-color: #142556; }

.remark-code,
.remark-inline-code     { font-family: 'Ubuntu Mono'; font-size: 12pt; }
.remark-slide-content   { background-size: contain; background-position: bottom; }

.center     { text-align: center; }

.left-column    { float: left; }
.right-column   { float: right; }

.width-25   { width: 25% }
.width-33   { width: 33% }
.width-50   { width: 50% }
.width-66   { width: 66% }
.width-75   { width: 75% }
